In [19]:
#imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%config InlineBackend.figure_format = 'retina'
import viz # curriculum example visualizations

np.random.seed(29)

In [13]:
# 1. How likely is it that you roll doubles when rolling two dice?
# give two variables to two separate rolls
n_trials = nrows = 10_000 # reminder of rows and columns when putting into function
n_dice = ncols = 1
roll_1 = np.random.choice([1, 2, 3, 4, 5, 6], size = (n_trials, n_dice)) 
roll_2 = np.random.choice([1, 2, 3, 4, 5, 6], size = (n_trials, n_dice))
roll_test = roll_1 == roll_2
roll_test.mean()

0.1606

In [36]:
# 2.  If you flip 8 coins, what is the probability of getting exactly 3 heads? What is the 
# probability of getting more than 3 heads?
n_trials = nrows = 10_000 # reminder of rows and columns when putting into function
n_coin = ncols = 8
#Using random.choice()
coin_flip = np.random.choice([True, False], size = (n_trials, n_coin))
coin_flip
sums_by_trial = coin_flip.sum(axis=1)

In [38]:
coin_flip = pd.DataFrame(coin_flip)
coin_flip

In [40]:
sums_by_trial = pd.Series(sums_by_trial)

In [41]:
coin_flip['sums_by_trial'] = sums_by_trial

In [42]:
coin_flip.head()

       0      1      2      3      4     5      6      7  sums_by_trial
0   True   True   True  False   True  True  False  False              5
1   True   True   True   True  False  True   True   True              7
2  False  False   True  False   True  True   True  False              4
3  False   True  False   True  False  True  False   True              4
4  False   True   True  False  False  True  False  False              3

In [46]:
len(coin_flip[sums_by_trial == 3]) / n_trials

0.2177

In [62]:
# There are approximitely 3 web development cohorts for every 1 data science cohort at Codeup. 
# Assuming that Codeup randomly selects an alumni to put on a billboard, what are the odds that
# the two billboards I drive past both have data science students on them?

p_ds = .25
ndays = ncols = 2
n_simulated_billboards = nrows = 10**5

billboards = np.random.random(size =(nrows, ncols))
billboards

array([[0.16610135, 0.88029657],
       [0.75116892, 0.08187291],
       [0.85216105, 0.68135606],
       ...,
       [0.42683964, 0.80850087],
       [0.3245047 , 0.87573612],
       [0.68853677, 0.92400793]])

In [64]:
n_trials = nrows = 10_000 # reminder of rows and columns when putting into function
n_simulated_billboards = ncols = 2
#give array of options (1-6) and size 
billboards = np.random.choice(['ds', 'wd', 'wd', 'wd'], size = (nrows, ncols)) #this produces two dimensional array
billboards

array([['wd', 'wd'],
       ['wd', 'wd'],
       ['wd', 'ds'],
       ...,
       ['wd', 'wd'],
       ['wd', 'wd'],
       ['ds', 'ds']], dtype='<U2')

In [66]:
billboards = pd.DataFrame(billboards)
billboards.head()

    0   1
0  wd  wd
1  wd  wd
2  wd  ds
3  wd  wd
4  wd  wd

In [75]:
# 4 Codeup students buy, on average, 3 poptart packages with a standard deviation of 1.5 a day from
# the snack vending machine. If on monday the machine is restocked with 17 poptart packages, how likely 
# is it that I will be able to buy some poptarts on Friday afternoon? 
# (Remember, if you have mean and standard deviation, use the np.random.normal) You'll need 
# to make a judgement call on how to handle some of your values

n_simulations = nrows = 10**5 # number of trials
n_days = ncols = 5 # number of elements in each trial

poptarts = np.random.normal(loc = 3.0, scale = 1.5, size = (nrows, n_days))
poptarts

array([[ 2.71536449,  3.69013856,  2.60075393,  1.23476397,  1.86190373],
       [ 5.96350878,  3.18919501,  2.73756286, -0.95205431,  6.01967756],
       [ 4.24304369,  1.74462763,  2.85938027,  4.11955876,  5.66732967],
       ...,
       [ 1.13025419,  4.79546085,  5.32894694,  2.66159565,  0.93405699],
       [ 1.76715843,  2.2624347 , -1.66304649,  2.49107557,  3.41849126],
       [ 1.90766015,  3.84871058,  6.54158316,  0.69936079,  3.93617313]])

In [76]:
poptarts_df = pd.DataFrame(poptarts, columns=['day_1', 'day_2', 'day_3', 'day_4', 'day_5'])
poptarts_df.head()

      day_1     day_2     day_3     day_4     day_5
0  2.715364  3.690139  2.600754  1.234764  1.861904
1  5.963509  3.189195  2.737563 -0.952054  6.019678
2  4.243044  1.744628  2.859380  4.119559  5.667330
3  1.903127  1.847196  3.365972  1.410989  3.468523
4  2.681450  2.669647  1.164265  1.384163  1.042319

In [91]:
poptarts_df.day_5 >= 1

0         True
1         True
2         True
3         True
4         True
         ...
99995     True
99996     True
99997    False
99998     True
99999     True
Name: day_5, Length: 100000, dtype: bool