In [3]:
#imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%config InlineBackend.figure_format = 'retina'
import viz # curriculum example visualizations

np.random.seed(29)

## Exercise # 1

In [4]:
# How likely is it that you roll doubles when rolling two dice? give two variables to two separate rolls

n_trials = nrows = 10_000 # reminder of rows and columns when putting into function
n_dice = ncols = 1
roll_1 = np.random.choice([1, 2, 3, 4, 5, 6], size = (n_trials, n_dice)) 
roll_2 = np.random.choice([1, 2, 3, 4, 5, 6], size = (n_trials, n_dice))
roll_test = roll_1 == roll_2
roll_test.mean()

0.1613

## Exercise 2

In [42]:
#If you flip 8 coins, what is the probability of getting exactly 3 heads? 
# What is the  probability of getting more than 3 heads?

n_trials = nrows = 10_000 # reminder of rows and columns when putting into function
n_coin = ncols = 8
#Using random.choice()
coin_flip = np.random.choice([True, False], size = (n_trials, n_coin))
coin_flip
sums_by_trial = coin_flip.sum(axis=1)

In [43]:
coin_flip = pd.DataFrame(coin_flip)
coin_flip

          0      1      2      3      4      5      6      7
0      True   True   True  False  False   True  False  False
1     False   True   True  False   True  False  False  False
2     False   True   True   True  False   True  False  False
3      True  False  False  False  False  False   True   True
4     False   True  False  False   True   True   True   True
...     ...    ...    ...    ...    ...    ...    ...    ...
9995   True  False   True  False  False  False   True   True
9996  False  False   True  False  False  False  False   True
9997  False   True  False   True  False  False  False   True
9998  False   True  False  False  False  False  False   True
9999  False  False   True   True  False  False  False   True

[10000 rows x 8 columns]

In [44]:
sums_by_trial = pd.Series(sums_by_trial)

In [45]:
coin_flip['sums_by_trial'] = sums_by_trial

In [46]:
coin_flip.head()

       0      1      2      3      4      5      6      7  sums_by_trial
0   True   True   True  False  False   True  False  False              4
1  False   True   True  False   True  False  False  False              3
2  False   True   True   True  False   True  False  False              4
3   True  False  False  False  False  False   True   True              3
4  False   True  False  False   True   True   True   True              5

In [48]:
#Probability of getting exactly three heads
len(coin_flip[sums_by_trial == 3]) / n_trials

0.2158

In [49]:
#Probability of getting more than three heads
len(coin_flip[sums_by_trial > 3]) / n_trials

0.6448

## Exercise 3

In [11]:
# There are approximitely 3 web development cohorts for every 1 data science cohort at Codeup. 
# Assuming that Codeup randomly selects an alumni to put on a billboard, what are the odds that
# the two billboards I drive past both have data science students on them?

p_ds = .25
ndays = ncols = 2
n_simulated_billboards = nrows = 10**5

billboards = np.random.random(size =(nrows, ncols))
billboards

array([[0.52367416, 0.30110826],
       [0.22483308, 0.89903466],
       [0.32563666, 0.01721882],
       ...,
       [0.46862724, 0.28377202],
       [0.62598687, 0.95912283],
       [0.44980969, 0.88367756]])

In [12]:
n_trials = nrows = 10_000 # reminder of rows and columns when putting into function
n_simulated_billboards = ncols = 2
#give array of options (1-6) and size 
billboards = np.random.choice(['ds', 'wd', 'wd', 'wd'], size = (nrows, ncols)) #this produces two dimensional array
billboards

array([['wd', 'wd'],
       ['ds', 'wd'],
       ['wd', 'wd'],
       ...,
       ['ds', 'wd'],
       ['wd', 'wd'],
       ['wd', 'wd']], dtype='<U2')

In [66]:
billboards = pd.DataFrame(billboards)
billboards.head()

    0   1
0  wd  wd
1  wd  wd
2  wd  ds
3  wd  wd
4  wd  wd

## Exercise 4

In [13]:
# Codeup students buy, on average, 3 poptart packages with a standard deviation of 1.5 a day from
# the snack vending machine. If on monday the machine is restocked with 17 poptart packages, how likely 
# is it that I will be able to buy some poptarts on Friday afternoon? 
# (Remember, if you have mean and standard deviation, use the np.random.normal) You'll need 
# to make a judgement call on how to handle some of your values

n_simulations = nrows = 10**5 # number of trials
n_days = ncols = 5 # number of elements in each trial

poptarts = np.random.normal(loc = 3.0, scale = 1.5, size = (nrows, n_days))
poptarts

array([[ 2.81664422,  1.35173249,  2.03247102,  3.35530891,  0.5284286 ],
       [ 0.48000105,  5.62302284,  1.49474244,  5.37370423,  0.84555556],
       [ 3.29196988,  3.71843058,  3.46730093,  3.58855209,  2.9884888 ],
       ...,
       [ 3.65388472,  4.2324115 ,  5.94731042,  4.02822281,  3.57656339],
       [ 1.84367747,  2.68392896, -0.3187597 ,  4.13432659,  3.82791737],
       [ 5.82546303,  4.32283373,  4.4112768 ,  1.21800755,  2.96792554]])

In [35]:
# Turn into a dataframe
poptarts_df = pd.DataFrame(poptarts, columns=['day_1', 'day_2', 'day_3', 'day_4', 'day_5'])
poptarts_df.head()
weekly_poptarts = poptarts_df.sum(axis=1) # axis = 1 means by row
len(poptarts_df[weekly_poptarts <= 16]) / len(poptarts_df)
poptarts_df['weekly_poptarts'] = weekly_poptarts # append poptarts df with new row of total weekly poptarts

In [22]:
friday_poptart = len(poptarts_df[weekly_poptarts <= 16]) / len(poptarts_df) # used boolean
friday_poptart

0.61472

In [40]:
len(poptarts_df[weekly_poptarts <= 16]) / len(poptarts_df)

0.61472

## Exercise 5

In [ ]:
#Compare Heights

# Men have an average height of 178 cm and standard deviation of 8cm.
# Women have a mean of 170, sd = 6cm.
# Since you have means and standard deviations, you can use np.random.normal to generate observations. 
# If a man and woman are chosen at random, what is the likelihood the woman is taller than the man?

In [55]:
# Creating simulated height sample n 10_000
w_height = np.random.normal(loc = 170, scale = 6, size = 10000)
m_height = np.random.normal(loc = 178, scale = 8, size = 10000)
#Turning arrays into series
w_height = pd.Series(w_height) # turning array into series
m_height = pd.Series(m_height)

In [60]:
#turning series into dataframe
w_height_df = pd.DataFrame(w_height)
m_height_df = pd.DataFrame(m_height)
height_df = pd.concat([w_height_df, m_height_df], axis=1)

In [64]:
#Make it presentable
height_df.columns =['womens_height', 'mens_height']

In [74]:
#Find out the likelihood that women are taller then men
height_df.womens_height > height_df.mens_height # generates number of rows where this is the case
height_df[height_df.womens_height > height_df.mens_height] # takes this list and applies to entire dataframe
len(height_df[height_df.womens_height > height_df.mens_height]) # gets number of rows where this is true
len(height_df[height_df.womens_height > height_df.mens_height]) / len(height_df) # probability where this is true

0.2174

## Exercise 6

In [ ]:
# When installing anaconda on a student's computer, there's a 1 in 250 chance that the download is corrupted 
# and the installation fails. What are the odds that after having 50 students download anaconda, 
# no one has an installation issue? 100 students?
# What is the probability that we observe an installation issue within the first 150 students that download anaconda?
# How likely is it that 450 students all download anaconda without an issue?

In [ ]:
anaconda_sim = np.random.choice([True, False], size = (n, n_coin))